/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: "Roboto", system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  line-height: 1;
  color: var(--color);
  background: #fff;
  padding-bottom: 800px;
  overflow-x: hidden;/*special*/
}
*, ::before, ::after{
  box-sizing: border-box;
}
a, span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

button{
  color: inherit;
  font: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}
/* base start */
:root{
  --theme-color-1: #172755;
  --theme-color-2: #EF2A82;
  --theme-color-3:  rgb(15, 31, 75,);
  --color:#8794BA;
  --color-1: #fff;
}
.container{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.title-h2{
  color: var(--theme-color-1);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}




/* base end */
/* header start */
.header{
  padding-top:50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.logo{
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 16%;
  color: var(--color-1);
  margin-right: 95px;
  letter-spacing: 1.4px;
}
.logo>img{
  margin-right: 13px;
}
.header-btns button{
  background-color: transparent;
  padding: 10px 50px;
  border: transparent 1px solid;
  transition: .3s;
}
.header-btn:hover{
  border-radius: 68px;
  border: var(--color) solid 1px;
}
.burger-btn{
  display: none;
}
.burger-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
/* header end */
/* hero start */
.hero{
  position: relative;
  --shift: 500px;
  margin-top: calc(var(--shift) * -1);
  padding-top: calc(var(--shift) + 242px);
  padding-bottom: 150px;
  background: linear-gradient(0deg, var(--theme-color-2) 17px, var(--theme-color-1) 17px);
  transform: skewY(-8deg);
}

.hero>.container{
  transform: skewY(8deg);
  position: relative;
}
.hero-info{
  width: 48%;
}
.hero-title{
  color: var(--color-1);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 15px;
  line-height: 1.2;
}
.hero-txt{
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 50px;
}
.hero-btn{
  background-color: var(--theme-color-2);
  padding: 17px 80px;
  border-radius: 68px;
  color: var(--color-1);
}
.hero-img{
  width: 946px;
  height: 625px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: -30%;
}
/* hero end */

/* features start */
.features{
  padding-top: 150px;
}
.features-top{
  margin-bottom: 130px;
}
.features-info{
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}
.features-title{
  display: flex;
  justify-content: center;
}
.features-txt{
  font-size: 18px;
  width: 1060px;
  line-height: 1.6;
}
.advantages{
  display: flex;
  justify-content: space-between;
}
.advantage-section{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 380px;
}
.advantage-img{
  margin-bottom: 25px;
}
.advantage-title{
  font-weight: 700;
  font-size: 16px;
  color: var(--theme-color-1);
  margin-bottom: 15px;
}
.advantage-txt{
  font-size: 16px;
  line-height: 1.6;
}
.features-bottom{
  margin-bottom: 115px;
}
.graph-section{
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.graph-info{
  width: 480px;
  margin-top: 90px;
}
.graph-title{
  font-size: 40px;
  font-weight: 700;
  color: var(--theme-color-1);
  margin-bottom: 30px;
}
.graph-txt{
  font-size: 18px;
  line-height: 1.6;
}
.graph-img{
  position: relative;
  right: -20px;
}
.graph-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.graph-reverse img{
  right: 40px;
}
/* features end */
/* plan start */
.plan-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;
}
.plan-title{
  /* color: var(--color-1); */
  font-size: 40px;  /* на время */
}
.plan-txt{
  font-size: 18px;
}


.plan-main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.plan-section{
  width: 340px;
  height: 440px;
  padding: 50px 70px 70px 70px;
  background: var(--theme-color-1);
  box-shadow: 0 18px 50px -15px var(--theme-color-1);
  border-radius: 30px;
  color: var(--color-1);
  text-align: center;
  transition: .3s;
}
.plan-section-top{
  width: 220px;
  border-bottom: 1px solid var(--color);
  margin-bottom: 30px;
}
.plan-section-title{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.plan-under-txt{
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  color:var(--color);
}
.price{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.plan-section-btn{
  padding: 15px 80px;
  border: 1px solid var(--color);
  border-radius: 68px;
  transition: .3s;
}
.plan-section-btn:hover{
  background-color: var(--theme-color-2);
  color: var(--color-1);
}
.plan-section:hover{
  background-color: var(--color-1);
  color: var(--theme-color-1);
}
/* plan end */
/* footer start */

.navbar-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color)
}
.navbar-footer{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.logo-footer{
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 16%;
  color: var(--color-1);
  margin-right: 95px;
}
.logofooter>img{
  margin-right: 13px;
}









@media (max-width: 767.98px){
  .container{
    padding: 0 15px;
  }
  .burger-btn{
    display: inline-flex;
    font-size: 30px;
    border: 2px solid;
    border-radius: 5px;
    z-index: 1;
  }
  .burger-btn:not(.open)>.fa-times{
    display: none;
  }
  .burger-btn.open>.fa-bars{
    display: none;
  }
  .burger-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--theme-color-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform .3s;
  }
  .burger-menu.open{
    transform: translateX(0);
  }
  .navbar{
    flex-direction: column;
    font-size: 30px;
  }
}